.containerHome {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-self: center;
  justify-content: center;
  margin-bottom: 60px;
}
.sidebar {
  width: 15%;
}
.containerSelect {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: fixed;
}

.home {
  padding: 1rem;
  height: 4rem;
  grid-gap: 1rem;
}
.button {
  background-color: #1ca82e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 50px;
  /* background: #1ca82e; */
  transition: 1s;
  background: linear-gradient(180deg, #00fe19 0%, rgba(0, 254, 25, 0) 100%);
}
.button:hover {
  background: #1ca82e;
  filter: blur(1px) !important;
  transition: 1s;
}
.select {
  background-color: #0000;
  color: #1ca82e;
  font-style: bold;
  margin-bottom: 10px;
}
.select:hover {
  background: #1ca82e;
  color: black;
  /* filter: blur(1px) !important; */
  transition: 1s;
}
.select option {
  background-color: black;
  color: #1ca82e;
}

/*!----------------------------------------------*/
