.navbar {
  /* background-image: url("../assets/Navbar.jpg");
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  line-height: normal;
  z-index: 100; */
  background-image: url("../assets/Navbar.jpg");
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  padding: 0;
}
.navbar div {
  height: 100px;
}
.navbar form {
  justify-content: right;
}

.create {
  color: #00fe19;
  font-family: "Monospac821 BT";
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.divCreate {
  align-items: center;
}

.homeImg {
  width: 139px;
  height: 91px;
}
.search {
  position: absolute;
  width: 250px;
  height: 25px;
  top: 25px;
  right: 30px;
  justify-content: right;
  color: black;

  background: #ffffff;
  border-radius: 100px;
}

.searchBtn {
  position: absolute;
  justify-content: right;

  width: 54px;
  height: 32px;

  top: 25px;
  right: 30px;
  font-weight: 900;
  border-radius: 100px;

  background: linear-gradient(180deg, #00fe19 0%, rgba(0, 254, 25, 0) 100%);
}
.searchBtn:hover {
  background: #1ca82e;
  filter: blur(1px) !important;
  transition: 1s;
}
