.navbar {
  background-color: #363131;
  color: rgb(4, 90, 16);
  text-decoration: none !important;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  min-height: 50px;
  padding: 10px 15px;
  position: fixed;
  z-index: 10;
  flex-direction: row;
  height: 80px;
  width: 100%;
  top: 0;
}

.navbar p {
  text-decoration: none;
}
