.containerPaginado {
  position: absolute;
  width: 88px;
  height: 26px;
  left: 556px;
}
.containerPaginado ul {
  position: fixed;
  bottom: 60px;
  display: flex;
  flex-direction: row;
}
.containerPaginado ul li {
  list-style: none;
}

.containerPaginado ul li:hover {
  background: #1ca82e;
  filter: blur(1px) !important;
  transition: 1s;
}
.botones {
  background: linear-gradient(180deg, #00fe19 0%, rgba(0, 254, 25, 0) 100%);
}
